<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Thesis derik</title>
    
    
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    
    <!-- Sigma core -->
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/sigma.core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/conrad.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/utils/sigma.utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/utils/sigma.polyfills.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/sigma.settings.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.dispatcher.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.configurable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.graph.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.camera.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.quad.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.edgequad.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/captors/sigma.captors.mouse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/captors/sigma.captors.touch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/sigma.renderers.canvas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/sigma.renderers.webgl.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/sigma.renderers.svg.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/sigma.renderers.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/middlewares/sigma.middlewares.rescale.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/middlewares/sigma.middlewares.copy.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/misc/sigma.misc.animation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/misc/sigma.misc.bindEvents.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/misc/sigma.misc.bindDOMEvents.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/misc/sigma.misc.drawHovers.js"></script>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
    
    
    
    
    <!-- 
    
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
     
     
     
     
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.edges.thickLine.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.edges.thickLineCPU.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.edges.thickLineGPU.js"></script>
    
    
     -->
     
     <script type="text/javascript" src="/modifiedNodeRenderer.js"></script>
     <script type="text/javascript" src="/modifiedEdgeRenderer.js"></script>
     
    
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    
    <style>
    
    	#sigma-container { height: 500px;background-color:#E1E1E1}
    
    
    </style>
  </head>
<body>

<div class="container">

	<div th:if="${message}"  class="row">
		<h2 th:text="${message}"/></h2><br><br><br><br>
	</div>


		
		<div>
					
			<input class="btn btn-primary" type="button" value="Update viz" onclick="updateViz();">
			
			
			<h1>Visualization</h1>
			
			
    		<div id='sigma-container' ></div>
    	</div>	
    	
    	
    		
  <script>

 // html { height:400px;}

  var s = new sigma(
		  {
		    renderer: {
		      container: document.getElementById('sigma-container'),
		      type: 'webgl',
	    	  defaultNodeType: 'fast',
	    	  defaultEdgeType: 'fast'
		    },
		    settings: {
		     minEdgeSize: 2,
		     maxEdgeSize: 2,
		     minNodeSize: 1,
		     maxNodeSize: 8,
		     defaultNodeColor: "#000000"
		    }
		  }
		);
		
  		var daURL = "http://localhost:8080/visualization/getGraphData/";

			  
			  data = [{"id" : 6}];
			  objall = JSON.stringify({"groups": data })
			  objall2 = "{}"
				  objall3 = '{"_groups":6}'
			  
			  $.ajax({
				    contentType: 'application/json',
				    data: objall2,
				    dataType: 'json',
				    success: function(data){
				        
				        console.log(data);

						// Load the graph in sigma
						s.graph.read(data);
						// Ask sigma to draw it
						s.refresh();
				        
				    },
				    error: function(){
				        console.log(data);

				    },
				    processData: false,
				    type: 'POST',
				    url: daURL
				});
			  
			  
			  
			  function updateViz(){
				  
				  var $form = $('#queryVizForm');


				    $.ajax({
				      url:  "http://localhost:8080/visualization/query/",
				      type: 'post',
				      data: $form.serialize(),
				      success: function(response) {
				        // if the response contains any errors, replace the form
				        if ($(response).find('.has-error').length) {
					          console.log(response);
				          
				        } else {


					          console.log(response);


							// Load the graph in sigma
							
							s.graph.clear();
							s.graph.read(response);
							// Ask sigma to draw it
							s.refresh();

				        }
				      }
				  });
				  
				  
				}
			  
			  
				    //s.bind('overNode outNode clickNode doubleClickNode rightClickNode', function(e) {
				    	
			    	var currVizNode;
				    	
				    s.bind('overNode', function(e) {
				        
				        if(currVizNode != e.data.node.label)
				        	processDataForNodeName(e.data.node.label);
				        else
				        	$('#nodeDataDiv').show();

				    });
				    	
				    s.bind('outNode', function(e) {
				    	//$('#nodeDataDiv').hide();
				    });
				    
				    var currentlyBusy = false;
				    
				    function processDataForNodeName( nodeName ){

						if(!currentlyBusy){
							currentlyBusy = true;
						    $.ajax({
						      url:  "http://localhost:8080/front/nodeDescription/"+nodeName,
						      type: 'get',
						      success: function(response) {
						        if ($(response).find('.has-error').length) {
							          currentlyBusy = false;
						        } else {
						        	

							          $("#addedTable").remove();
							          $("#nodeDataDiv").append(response);
							        	$('#nodeDataDiv').show();
								          currentlyBusy = false;

						        }
						      }
						  });
						    
						}
						
					    
				    }
				    
				    
			  
			  
		
  </script>

	
	
	<div>
	
			<h1>Actual Node</h1>
			
			<div id="nodeDataDiv">
			
			</div>
	
	
	</div>
	

	<div>
		<h1>Tweak viz and lay</h1>
		
		<form id="queryVizForm" th:object="${queryVizFormat}" method="POST">
		
		
			
			<label >groups</label><br>
			<ul>
			  <li th:each="group : ${allGroups}">
			    <input type="checkbox" th:field="*{groups}" th:value="${group.id}" />
			    <label th:for="${#ids.prev('groups')}" 
			           th:text="${group.name}">Wireframe</label>
			  </li>
			</ul>
			
			
			<label >mappers</label><br>
			<ul>			
			<li th:each="mapper, mapperStat : ${listDataMapper}">
			  
				  	
				  	
				  	<input type=checkbox th:field="*{mappers[__${mapperStat.index}__].enabled}">

    				<label  >enable</label>
					<br>
			  
				  	
				  	<input type=checkbox th:field="*{mappers[__${mapperStat.index}__].normalize}">

    				<label  >Normalize</label>
					<br>
			  
				  	
				  	
				  	<input type=checkbox th:field="*{mappers[__${mapperStat.index}__].useGroup}">

    				<label  >Use group</label>
					<br>
					
					
					  Select color: <input type="color" th:field="*{mappers[__${mapperStat.index}__].bottom}">
					  Select color: <input type="color" th:field="*{mappers[__${mapperStat.index}__].top}">
					  
					<br>

					<select th:field="*{mappers[__${mapperStat.index}__].bindingPlainFeature}">
			          <option th:each="feature : ${allFeatures}"
			                  th:value="${feature.id}" 
			                  th:text="${feature.name}">Holder</option>
			        </select>
			        
			        <br>
			        
					<select th:field="*{mappers[__${mapperStat.index}__].bindingPlainGroup}">
			          <option th:each="group : ${allGroups}" 
			                  th:value="${group.id}" 
			                  th:text="${group.name}">Holder</option>
			        </select>
			        
			        <br>
			        
					<select th:field="*{mappers[__${mapperStat.index}__].mapper}">
			          <option th:each="myMapper : ${T(com.thesisderik.appthesis.viz.DataMapperUtils.Mappers).values()}" 
			                  th:value="${myMapper}" 
			                  th:text="${myMapper}">Holder</option>
			        </select>
			        
			        
			        <br><br>
			        
			  </li>
			  
			</ul>
			
			
			<label >layout hierarchy relations</label><br>
			<ul>			
			<li th:each="hieItem, hieItemStat : ${listHierarchyLay}">
			  
			  
				  	<input type=checkbox th:field="*{relations[__${hieItemStat.index}__].enabled}">

    				<label  >enable</label>
					<br>
				  	
				  	
			  
				  	
				  	
				  	<input type=number step="1" th:field="*{relations[__${hieItemStat.index}__].son}">

    				<label  >layer</label>
					<br>
					
					
					
				  	
				  	<input type=number step="1" th:field="*{relations[__${hieItemStat.index}__].father}">

    				<label  >parent layer</label>
					<br>
				  	
				  	
			        
					<select th:field="*{relations[__${hieItemStat.index}__].lay}">
			          <option th:each="myLayout : ${T(com.thesisderik.appthesis.layout.LayoutManager.Layouts).values()}" 
			                  th:value="${myLayout}" 
			                  th:text="${myLayout}">Holder</option>
			        </select>
				  	
			        <br>
				  	
			     
					<br>
				  	
				  	
			        <br>
			        
			  </li>
			  
			</ul>   
			
			     
					<br>
				  	
				  	
			        <br>	  	
			
			<label >layout layers groups</label><br>
			<ul>			
			<li th:each="layItem, layItemStat : ${listFilterLay}">
			  
				  	<input type=checkbox th:field="*{layoutItems[__${layItemStat.index}__].enabled}">

    				<label  >enable</label>
					<br>
				  	
				  	
			  
				  
				  	
				  	<input type=number step="1" th:field="*{layoutItems[__${layItemStat.index}__].layer}">

    				<label  >layer</label>
					<br>
				  	
			        
				  	
				  	
				  	
			        
					<select th:field="*{layoutItems[__${layItemStat.index}__].group}">
			          <option th:each="group : ${allGroups}" 
			                  th:value="${group.id}" 
			                  th:text="${group.name}">Holder</option>
			        </select>
			        
			        <br>
			        
			        
				  	
				  	
				  	<input type=checkbox th:field="*{layoutItems[__${layItemStat.index}__].filter}">

    				<label  >enable feature filter</label>
					<br>
			  
				  	
				  	
			        
					<select th:field="*{layoutItems[__${layItemStat.index}__].feature}">
			          <option th:each="feature : ${allFeatures}"
			                  th:value="${feature.id}" 
			                  th:text="${feature.name}">Holder</option>
			        </select>
			        
			        <br>
				  	
					
					
				  	
				  	<input type=text th:field="*{layoutItems[__${layItemStat.index}__].value0}">

    				<label  >value or bottom bound</label>
					<br>
				  	
				  	

				  	
				  	<input type=text th:field="*{layoutItems[__${layItemStat.index}__].value1}">

    				<label  >top bound</label>
					<br>
				  	
				  	
			        <br>
			        
			  </li>
			  
			</ul>
			
			  
			  
					
			<input class="btn btn-primary" type="button" value="Update viz" onclick="updateViz();">
			
			
			
		
		
		</form>	
			
	</div>


	<div>
			<h1>Current experiments</h1>
	
		<table>
		
			<thead>

					<tr>
							<th>
									title
							</th>
							<th>
									description
							</th>
							<th>
									groups
							</th>
							<th>
									features
							</th>
							<th>
									tasks
							</th>
							<th>
									command
							</th>
							<th>
									uqname
							</th>
					
					</tr>
			
			</thead>
			<tbody>

<tr th:each="exp : ${allExperiments}">
					
							<td th:text="${exp.title}">
							</td>
							
							<td th:text="${exp.description}">	
							</td>
							
							<td>
								<table>
									<tbody>
										<tr th:each="pg : ${exp.plainGroups}">
									
											<td th:text="${pg.name}">
											</td>
											
										</tr>
									</tbody>
								</table>
							
							</td>	
							
							<td>
								<table>
									<tbody>
										<tr th:each="pf : ${exp.plainFeatures}">
									
											<td th:text="${pf.name}">
											</td>
											
										</tr>
									</tbody>
								</table>
							
							</td>	
							
							<td th:text="${exp.task.name}">
							</td>
							
							<td th:text="${exp.taskDescriptionCommand}">
							</td>
							
							<td th:text="${exp.featureNameOverride}">	
							</td>
					
					</tr>
			
			
			</tbody>
			
		</table>
	
	</div>



	<div>
		<h1>Create experiment</h1>
		
		<form action="#" th:action="@{/front/experimentStart?save}" th:object="${plainExperiment}" method="post">
	
			<label >title</label><br>
			<input type="text" th:field="*{title}" />
			
			<br><br>
			
			<label >description</label><br>
			<textarea rows="4" cols="50" th:field="*{description}" >
			</textarea>
			
			<br><br>
			
			<label >groups</label><br>
			<ul>
			  <li th:each="group : ${allGroups}">
			    <input type="checkbox" th:field="*{plainGroups}" th:value="${group.id}" />
			    <label th:for="${#ids.prev('plainGroups')}" 
			           th:text="${group.name}">Wireframe</label>
			  </li>
			</ul>
			
			<br><br>
			
			<label >features</label><br>
			<ul>
			  <li th:each="feature : ${allFeatures}">
			    <input type="checkbox" th:field="*{plainFeatures}" th:value="${feature.id}" />
			    <label th:for="${#ids.prev('plainFeatures')}" 
			           th:text="${feature.name}">Wireframe</label>
			  </li>
			</ul>
			
			<br><br>
			
			<label >tasks</label><br>
			<select th:field="*{task}">
			  <option th:each="task : ${allTasks}" 
			          th:value="${task.id}" 
			          th:text="${task.name}">Wireframe</option>
			</select>
			
			<br><br>
			
			<label >command</label><br>
			<input type="text" th:field="*{taskDescriptionCommand}" />
			
			<br><br>
			
			<label >uqname overriding</label><br>
			<input type="text" th:field="*{featureNameOverride}" />	
			
			<br><br>
			
			
			<input type="submit">
		</form>
		
	
	</div>

	<div>
		<h1>Execute experiment</h1>
		<form method="POST" action="/front/executeExperiment/">
			
			<select name="experimentName">
			  <option th:each="exp : ${allExperiments}" 
			          th:value="${exp.title}" 
			          th:text="${exp.title}"
			          	th:placeholder="${exp.description}">Wireframe</option>
			</select>
			<br>
			<br>
			<input id="cboxall" type="checkbox" name="recalculateAll" value="true">
			 <label for="cboxall">recalculate for all nodes' features from the beginning :c</label>
								<br>
								<br>
								<br>
					
					
				<input type="submit">
		</form>
	</div>



	<div>
		<h1>Upload graph file, sbml or kgml format</h1>
		<form method="POST" enctype="multipart/form-data" action="/front/graph/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<h1>Integrate data, group-feature file</h1>
		<form method="POST" enctype="multipart/form-data" action="/front/integrate/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${allFiles}">
				<a th:href="${file}" th:text="${file}"></a>
			</li>
		</ul>
	</div>

</div>

</body>
</html>