<html xmlns:th="https://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/></h2>
	</div>


	<div>
	
	<form action="#" th:action="@{/front/experimentStart?save}" th:object="${plainExperiment}" method="post">

		<input type="text" th:field="*{title}" />
		<br><br>
		<textarea rows="4" cols="50" th:field="*{description}" >
		</textarea>
		<br><br>
		<br><br>
		<ul>
		  <li th:each="group : ${allGroups}">
		    <input type="checkbox" th:field="*{plainGroups}" th:value="${group.id}" />
		    <label th:for="${#ids.prev('plainGroups')}" 
		           th:text="${group.name}">placeholder</label>
		  </li>
		</ul>
		<input type="submit">
	</form>
	
	
	</div>


	<div>
		<h1>upload graph file, sbml or kgml format</h1>
		<form method="POST" enctype="multipart/form-data" action="/front/graph/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<h1>integrate group feature file</h1>
		<form method="POST" enctype="multipart/form-data" action="/front/integrate/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${allFiles}">
				<a th:href="${file}" th:text="${file}"></a>
			</li>
		</ul>
	</div>

</body>
</html>